{
  "ApiKeys": {
    "NewsAPIKey": "YOUR_NEWS_API_KEY_HERE"
  },
  "NewsAPIUrl": "https://newsapi.org/v2/everything",
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
